
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article</title>
</head>
<body>
        {# J'effectue un if pour dire si active est vrai j'affiche mon html.twig #}
        {% if profile.active %}
            {# Dans mes doubles accolades, j'indique mes variables twig firstname et name récupèrer
            les variables PHP firstname et name définies dans mon fichier PHP Controller
            qui récupèrent dans mon tableau le firstname et le name#}
            <h1>{{ profile.firstname}} {{ profile.name }}</h1>

            {# Dans mes accolades, j'indique ma variable twig age qui a pour valeur la variable définie
             dans mon fichier PHP Controller qui récupère dans mon tableau l'age #}
            <h2>{{ profile.age }}</h2>

            {# Dans mes accolades, j'indique ma variable twig job qui a pour valeur la variable définie
             dans mon fichier PHP Controller qui récupère dans mon tableau le job #}
            <p>Le métier de cette personne est : {{ profile.job }}</p>
        {% endif %}
</body>
</html>