<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article</title>
</head>
<body>

    <ol>
        {# Dans une boucle for je créé une variable temporaire qui va récupérer à chaque tour
        de boucle les valeurs de mon tableau skills et l'afficher dans un li#}
        {% for skill in skills%}
            <li>{{ skill }}</li>
        {% endfor %}
    </ol>

</body>
</html>